
<div class="header">
	<ul class="nav nav-pills pull-right">
		<li class="active">
			<a href="<%=new_user_registration_path%>">Sign Up</a>
		</li>
		<li>
			<a href="<%=new_user_session_path%>">Sign In</a>
		</li>
	</ul>
	<div class="logo">
		<img src="/images/CowLogo-circle.png" alt="HeiferNote" class="img-circle logo" width="100" height="100">
	</div>	
</div>

<div class="home-page-div">
	<div class="col-md-3" style="background: " id="notebooks-sidebar"></div>
	<div class="col-md-3" style="background: " id="notes-sidebar"></div>
	<div class="col-md-6" style="background: " id="note-display"></div>
</div>
