<div class="logo">
	<img src="/images/CowLogo-circle.png" alt="HeiferNote" class="img-circle logo" width="100" height="100">
	<ul class="nav nav-pills pull-right">
		<li class="active">
			<%= button_to "Log Out", destroy_user_session_url, :method => :delete%>
		</li>
	</ul>
</div>


<div class="home-page-div">
	<div class="col-md-3" style="background: " id="notebooks-sidebar"></div>
	<div class="col-md-3" style="background: " id="notes-sidebar"></div>
	<div class="col-md-6" style="background: " id="note-display"></div>
</div>
