<div class="logo">
	<img src="/images/CowLogo-circle.png" alt="HeiferNote" class="img-circle logo" width="100" height="100">
	<ul class="nav nav-pills pull-right">
		<li class="active">
			<%= button_to "Log Out", destroy_user_session_url, :method => :delete%>
		</li>
	</ul>
</div>


<div class="home-page-div">
	<div class="col-md-3" style="background: " id="notebooks-sidebar"></div>
	<div class="col-md-3" style="background: " id="notes-sidebar"></div>
	<div class="col-md-6" style="background: " id="note-display"></div>
</div>

<div class="trashcan">
	trashcan
</div>

<script>
	$(function(){
		var $trashcan = $(this).find(".trashcan");
		// console.log($trashcan);
		$trashcan.droppable({
			accept: function(element){
				var accepted = false;
				var acceptableIds = ["note-item", "note-form", "notebook-item"]
				var elementId = element.attr("id");
				// handles when notebook items are dropped REFACTOR
				if (elementId === undefined) {
					elementId = $(element.find("li")[0]).attr("id")
				}
				console.log(elementId);
				acceptableIds.forEach(function(id){
					if(elementId === id){
						accepted = true;
					}
				});
				return accepted;
			},

			drop: function(event, ui){
				var itemType = ui.draggable.attr("id");
				var itemId = ui.draggable.attr("data-id");

				//handles notebook items REFACTOR
				if (itemType === undefined || itemId === undefined){
					itemType = $(ui.draggable.find("li")[0]).attr("id");
					itemId = $(ui.draggable.find("li")[0]).attr("data-id");
				}

				if (itemType === "notebook-item") {
					var item = EvernoteClone.Cache.Notebooks.get(itemId);
				} else {
					var item = EvernoteClone.Cache.Notes.get(itemId)	
				}
				item.destroy({
					success: function() {
						ui.draggable.remove();
					}
				})
			},
			tolerance: "pointer"
		});
	});
</script>