<div class="logo">
	<img src="/images/CowLogo-circle.png" alt="HeiferNote" class="img-circle logo" width="100" height="100">
	<ul class="nav nav-pills pull-right">
		<li class="active">
			<%= button_to "Log Out", destroy_user_session_url, :method => :delete%>
		</li>
	</ul>
</div>


<div class="home-page-div">
	<div class="col-md-3" style="background: " id="notebooks-sidebar"></div>
	<div class="col-md-3" style="background: " id="notes-sidebar"></div>
	<div class="col-md-6" style="background: " id="note-display"></div>
</div>

<div class="trashcan">
	<img src="/images/trashcan-sm-1.png" alt="trashcan" class="img-rounded" id="closed" width="150" height="150">
	<img src="/images/trashcan-sm-2.png" alt="trashcan" class="img-rounded hidden" id="open" width="150" height="150">
</div>

<script>
	$(function(){
		var $trashcan = $(this).find(".trashcan");
		$trashcan.droppable({
			accept: function(element){
				return (element.is(".note-item, .note-display, .notebook-item"));
			},

			drop: function(event, ui){
				debugger;

				item.destroy({
					success: function() {
						ui.draggable.remove();
					}
				})
			},
			tolerance: "pointer",

			activate: function(event, ui){
				$(this).find("img#open").toggleClass("hidden");
				$(this).find("img#closed").toggleClass("hidden");
			},

			deactivate: function(event, ui){
				$(this).find("img#open").toggleClass("hidden");
				$(this).find("img#closed").toggleClass("hidden");
			}
		});
	});
</script>