
<head>
	<link href="jumbotron-narrow.css" rel="stylesheet">
</head>

<div class="container">
	<div class="header">
		<ul class="nav nav-pills pull-right">
			<li class="active">
				<a href="<%=new_user_registration_path%>">Sign Up</a>
			</li>
			<li>
				<a href="<%=new_user_session_path%>">Sign In</a>
			</li>
		</ul>
		<div class="logo">
			<img src="/images/CowLogo-circle.png" alt="HeiferNote" class="img-circle logo" width="100" height="100">
		</div>
	</div>

	<div class="jumbotron">
		<h1>Welcome to HeiferNote</h1>
		<p class="lead">
			For when evernote just doesn't seem to have enough cows.
		</p>
	</div>

	<div class="row marketing">
		<div class="col-lg-6">
			<!-- <h4>Aaron Sullivan</h4>
			<p>
				"Finally, a note app that gets me..Cows are a must!"
			</p> -->

			<blockquote>
				<p>"Finally, a note app that gets me..Cows are a must!"</p>
				<small>Aaron Sullivan</small>
			</blockquote>

			<!-- <h4>Danielle Levinson</h4>
			<p>
				"This note taking app is udder-ly fantastic!"
			</p> -->

			<blockquote>
				<p>"This note taking app is udder-ly fantastic!"</p>
				<small>Danielle Levinson</small> 
			</blockquote>
	</div>
	<div class="row marketing">
		<div class="col-lg-6">
			<!-- <h4>Ryan Newton</h4>
			<p>
				"Such snappy interface, and so colorful! This app is.. well-done."
			</p> -->
			<blockquote>
				<p>"Such snappy interface, and so colorful! This app is.. well-done."</p>
				<small>Ryan Newton</small> 
			</blockquote>

			<blockquote>
				<p>"Don't have a cow man."</p>
				<small>Bart Simpson</small> 
			</blockquote>

		</div>
	</div>
</div>