
<li class="" id="notebook-item">	
	<pre id="notebook-name"><%=notebook.escape("name")%></pre>
	<% if(notes) { %>
		<ul id="notes-list">
			<% notes.forEach(function(note){ %>
				<li>
					<pre data-id="<%=note.get("id")%>" id="note-item">---<%=note.escape("title")%></pre>
				</li>
			<% }); %>
		</ul>
	<% } else { %>
		<ul>
		</ul>
	<% } %>
</li>
