
<li id="notebook-item" data-id="<%=notebook.get("id")%>">	

	<div class="row">
		<div class="col-xs-9">
			<pre id="notebook-name"><%=notebook.escape("name")%></pre>
		</div>
		<button type="button" class="btn btn-sm edit-view">
			<span class="glyphicon glyphicon-pencil"></span>
		</button>		
	</div>
	<% if(notes) { %>
		<ul id="notes-list">
			<% notes.forEach(function(note){ %>
				<li>
					<pre data-id="<%=note.get("id")%>" id="note-item">---<%=note.escape("title")%></pre>
				</li>
			<% }); %>
		</ul>
	<% } else { %>
		<ul>
		</ul>
	<% } %>
</li>
