
<pre class="notebook-name">
<span class="glyphicon glyphicon-book"></span>  <strong><%=notebook.escape("name")%></strong><span class="glyphicon glyphicon-cog pull-right edit-notebook">
</pre>

<ul class="notes-list">
</ul>

