<pre class="" id="notebook-edit-item">	
	<form class="well form-inline custom-form" id="notebook-form">
		<input type=text name="notebook[name]" value="<%=notebook.escape("name")%>">
		<button type="button" class="btn btn-default" id="edit-notebook">Edit</button>
		<button type="button" class="btn btn-default" id="delete-notebook">Delete</button>
	</form>
</pre>