<form class="form-inline" id="notebook-form">
	<div class="row">
	<div class="col-xs-8">
		<input class="form-control" type="text" name="notebook[name]" value="<%=notebook.escape("name")%>">
	</div>
	<button type="button" class="btn btn-sm" id="edit-notebook">
		<span class="glyphicon glyphicon-ok"></span>
	</button>
	<button type="button" class="btn btn-sm" id="detail-notebook">
		<span class="glyphicon glyphicon-remove"></span>
	</button>
	</div>
</form>

