<h3>All Notebooks</h3>
<ul id="notebook-list">

</ul>
<button class="btn btn-default" id="create-notebook">
	<span class="glyphicon glyphicon-plus"></span><span class="glyphicon glyphicon-book"></span>
</button>

<style>
  ul { list-style-type: none; margin: 0; padding: 0; margin-bottom: 0px; }
</style>