<form id="note-form">
<label for="note_title">Title</label>
<br>
<input type="text" name="note[title]" 
			 value="<%=note.escape("title")%>" id="note_title">
<br>
<label for="note_content">Content</label>
<br>
<textarea name="note[content]" rows="10" cols="50"><%=note.escape("content")%></textarea>
<br>
<input type="submit" value="Update Note">
</form>
<button id="delete-note">Delete</button>