@import "bootstrap";

// div.col-md-4 {
// 	.border-radius: 3px;
// 	background-color: #705FD0; 
// }

body {
	background: url('/assets/Background-1-grey.png');
	background-repeat: no-repeat;
}

.home-page-div {
	max-width: 1460px;
	margin-left: auto;
	margin-right: auto;
}

.logo {
	margin-left: 10px;
	margin-bottom: 10px;
}

.trashcan {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100px;
	height: 100px;
	margin-left: 100px;
	margin-bottom: 100px;
	background-color: grey;	
}

input.input-sm#tag_name {
	width: 60%;
	float: left;
}

button.btn-sm#create-tag {
	width: 30%;
	float: left;
}

