@import "bootstrap";

// IMAGE ASSETS
body {
	background: url('/assets/Background-1-grey.png');
	background-repeat: no-repeat;
}

.logo {
	margin-left: 10px;
	margin-right: 20px;
}

.trashcan {
	position: fixed;
	left: 0;
	bottom: 0;
	margin-left: 100px;
	margin-bottom: 100px;
	z-index: -1;
}

// HOME PAGE 
.home-page-div {
	max-width: 1460px;
	margin-left: auto;
	margin-right: auto;
}

//TAG FORM 
input.input-sm#tag_name {
	width: 60%;
	float: left;
}

button.btn-sm#create-tag {
	width: 30%;
	float: left;
}

//SIGN IN AND SIGN UP PAGE	
.centered-form {
	max-width: 350;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}