<div class="inline-block">
	<button class="delete-tag btn btn-default btn-xs" data-id="<%=tag.escape("id")%>">
		<span class="glyphicon glyphicon-tag"></span> <%=tag.escape("name")%>
	</button>
</div>
