<h3>Search</h3> 
<form class="well form-inline offset2 custom-form" id="tag-search"> 
	<input type="text" name="query" placeholder="Search by ALL THE THINGS">
	<button class="btn btn-default" id="search-button">Search</button>
</form>
<ul id="search-result-list">
</ul>